*{
    margin:0;
    padding:0;
}
html{
    height:100%;
}
body{
    height: 100%;
     background: -moz-linear-gradient(318deg, rgba(0,16,77,1) 0%, rgba(0,16,77,1) 29%, rgba(66,168,244,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,16,77,1)), color-stop(29%, rgba(0,16,77,1)), color-stop(100%, rgba(66,168,244,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(318deg, rgba(0,16,77,1) 0%, rgba(0,16,77,1) 29%, rgba(66,168,244,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(318deg, rgba(0,16,77,1) 0%, rgba(0,16,77,1) 29%, rgba(66,168,244,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(318deg, rgba(0,16,77,1) 0%, rgba(0,16,77,1) 29%, rgba(66,168,244,1) 100%); /* ie10+ */
background: linear-gradient(132deg, rgba(0,16,77,1) 0%, rgba(0,16,77,1) 29%, rgba(66,168,244,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00104d', endColorstr='#42a8f4',GradientType=1 ); /* ie6-9 */
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-face-color: grey;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1; 
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
    width: 5px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.footer{
    /*display:none;*/
    width:100%;
    position:fixed;
    bottom:0;
    font-size:25px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    background-color:rgba(0,0,0,0.4);
    color:white;
    cursor:pointer;
    z-index:10;
}
.timeline{
    position:fixed;
    width:100%;
    height:99%;
    z-index:5;
}
.timeline svg{
    height:100%;
    width:100%;
}
.timeline .statetext {
    position: absolute;
    font-size: 1.3em;
    top: 8%;
    left: 28%;
    color: white;
}
.sidebuttons{
    display:none;
    width:50px;
    height:100px;
    position:absolute;
    right:0;
    top:40%;
}
.btn-sidebuttons-pre {
    width:50px;
    height:50px;
    background-image: url('../images/buttonpre.png');
    background-position:top;
    background-size:cover;
    border-bottom:1px solid rgba(0,0,0,0.4);
    cursor:pointer;
}
.btn-sidebuttons-pre:hover{
    background-position:bottom;
     cursor:pointer;
}
.btn-sidebuttons-next {
    width:50px;
    height:50px;
    background-image: url('../images/buttonnext.png');
    background-position:top;
    background-size:cover;
     cursor:pointer;
}
.btn-sidebuttons-next:hover{
    background-position:bottom;
     cursor:pointer;
}
#step1text{
    opacity:0;
}
#step1active{
    opacity:0;
    cursor:pointer;
}
#step2text{
    opacity:0;
}
#step2active{
    opacity:0;
    cursor:pointer;
}
#step3text{
    opacity:0;
}
#step3active{
    cursor:pointer;
    opacity:0;
}
#first_state_initial{
    cursor:pointer;
}
#second_state_initial{
    cursor:pointer;
}
#third_state_initial{
    cursor:pointer;
}
section{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
/*For State1*/
section#state1{
    z-index:0;
    width:100%;
}

#state1 .layer0{
    position:absolute;
    width:100%;
    height:100%;
    z-index:2;
    overflow:hidden;
}
#state1 .layer0 img{
    position:absolute;
}
#state1 .layer0 img.e01 {
    bottom: -40px;
    right: -92px;
    height: 500px;
}
#state1 .layer0 img.e02 {
    top: 25%;
    left: 2%;
    height: 450px;
}


#state1 .layer1{
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
    overflow:hidden;
}
#state1 .layer1 img{
    position:absolute;
}
#state1 .layer1 img.e02 {
    bottom: -20%;
    right: 17%;
    height: 450px;
}
#state1 .layer1 img.e01 {
    top: -5%;
    left: 2%;
    height: 300px;
}
#state1 .layer1 img.e03 {
    top: -13%;
    right: 17%;
}
#state1 .layer1 img.e04 {
    bottom: -29%;
    left: 19.5%;
    height: 485px;
}
#state1 .layer1 img.e05 {
    top: -7%;
    right: 0px;
    width: 250px;
}
#state1 .layer1 img.e06 {
    top: 18%;
    left: 22%;
    width: 180px;
}
/*for state2*/
section#state2{
    z-index:0;
    width:100%;
}
#state2 .layer0{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:2;
}
#state2 .layer0 img{
    position:absolute;
}
#state2 .layer0 img.e01{
    left: 44%; 
    top: 20%;
}
#state2 .layer0 img.e02{
    top: 15%;
    width: 200px;
}
#state2 .layer0 img.e03{
    top: 54%; 
    right: 0%;
}
#state2 .layer0 img.e04{
    top: 4%; 
    right: -2%;
}
#state2 .layer0 img.e05{
    left: 17%; 
    bottom: 25%;
}
#state2 .layer0 img.e06{
    left: 40%; 
    bottom: 6%;
}
#state2 .layer0 img.e07{
    bottom: -15%;
    left: 15%;
}
#state2 .layer0 img.e08 {
    top: 25%;
    right: 23%;
    width: 80px;
}
#state2 .layer0 img.e09 {
    bottom: 13%;
    right: 15%;
    width: 50px;
}
#state2 .layer1{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:1;
}
#state2 .layer1 img{
    position:absolute;
}
#state2 .layer1 img.e01{
    bottom: 1%;
    right: 32%;
}
#state2 .layer1 img.e02{
    top: -2%;
    right: 31%;
}
#state2 .layer1 img.e03{
    top: 25%;
    left: 21%;
}
/*for state3*/
section #state3{
    z-index:0;
    width:100%;
}
#state3 .layer0{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:2;
}
#state3 .layer0 img{
    position:absolute;
}
#state3 .layer0 img.e01 {
    top: 0%;
    right: 2%;
    width: 150px;
}
#state3 .layer0 img.e02{
    top: 34%;
    left: 1%;
    width: 250px;
}
#state3 .layer0 img.e03{
    top: 14%;
    left: 34%;
    width: 180px;
}
#state3 .layer0 img.e04{
    bottom: 0px;
    left: 21%;
    width: 200px;
}
#state3 .layer0 img.e05{
    top: 14%;
    right: 12%;
    width: 250px;
}
#state3 .layer0 img.e06{
    bottom: 17%;
    right: 0%;
    width: 180px;
}

#state3 .layer1{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index:1;
}
#state3 .layer1 img{
    position:absolute;
}
#state3 .layer1 img.e01{
    bottom: 5%;
    left: 5%;
}
#state3 .layer1 img.e02{
    bottom: 11%;
    right: 15%;
    opacity: 0.5;
}
#state3 .layer1 img.e03{
    top: 5%;
    right: 33%;
    width: 120px;
    opacity: 0.5;
}
#state3 .layer1 img.e04{
    bottom: 5%;
    left: 48%;
    width: 130px;
}
#state3 .layer1 img.e05{
    left: 10%;
    top: -3%;
    opacity: 0.5;
}
